.noselect{
  -webkit-touch-callout: text; /* iOS Safari */
    -webkit-user-select: text; /* Safari */
     -khtml-user-select: text; /* Konqueror HTML */
       -moz-user-select: text; /* Firefox */
        -ms-user-select: text; /* Internet Explorer/Edge */
         -o-user-select: text;
            user-select: text; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.transient{display: none;}
.banner-bottom{display: none;}
.truncated-600 {
    max-height: none;
}
.top-panel{display: none;}
